{% extends 'base.html' %} 

{% block title %} About Us {% endblock title %} 

{% block content %} 
<body style="background: linear-gradient(to top right, #ff9933 26%, #66ff99 78%);">
    

<div>
<h1 style="font-family: 'Original Surfer', cursive; text-align: center; margin-top: 2rem;">About Us</h1>
<p style="font-family: 'Architects Daughter', cursive;
font-family: 'Original Surfer', cursive; margin-right: 6rem; margin-left:
6rem; margin-top: 5rem; margin-bottom: 1rem; text-align: center; font-size: 25px;">We all know the struggle of managing a team...so our team made it easier with our AllBaseball Data Analytics App. We have created a simple and easy platform to get your team on the app by managing players, teams, data, and analytics.</p>
<p style="font-family: 'Architects Daughter', cursive;
font-family: 'Original Surfer', cursive; margin-right: 6rem; margin-left:
6rem; margin-bottom: 1rem; text-align: center; font-size: 25px;">You can also keep track and upload to our database. For example you can upload each individual player's piching and batting data. Plus, you can also add your team's overall statistics. By doing this you can see not only your teams or player data, but also your opponents data across the league.</p>
<p  style="font-family: 'Architects Daughter', cursive;
font-family: 'Original Surfer', cursive; margin-right: 6rem; margin-left:
6rem; margin-bottom: 1rem; text-align: center; font-size: 25px;">We have also created a dynamic chart view to see different teams data across the league and see who leads in Home Runs, ERA, strikeouts and many more. For you to take advantage of this awuesome app that we have created, you can register now!</p>
<hr />
<h1 style="font-family: 'Original Surfer', cursive; margin-top: 1rem; text-align: center;">Team</h1>
<div class="team" style="display: flex; margin-top: 2rem;">
<img src="/static/img/boy_Silhouette-removebg-preview.png" class="rounded float-start" alt="..." style="flex:1; width: 10%; border-radius: 7px; margin-left: 2rem;">
<div style="display: block;">
<h3 style="margin-left: 2rem; margin-top: 3rem;">Joel Otero</h3>
<ul>
<ul>CEO/Designer</ul>
<ul>Bayamon, PR</ul>
</ul>
</div>
<img src="/static/img/femaleSilhouetta-removebg-preview.png" class="rounded float-start" alt="..." style="width: 15%; border-radius: 7px; margin-left: 10rem; padding-top: 2rem;">
<div style="display: block;">
    <h3 style="margin-left: 2rem; margin-top: 3rem;">Sol Otero</h3>
    <ul>
    <ul>VP/Designer</ul>
    <ul>Rio Piedras, PR</ul>
    </ul>
    </div>
<img src="/static/img/boy_Silhouette-removebg-preview.png" class="rounded float-start" alt="..." style="flex: 1; width: 10%; border-radius: 7px; margin-left: 7rem; ">
<div style="display: block;">
    <h3 style="margin-left: 1rem; margin-top: 3rem; margin-right: 1rem;">Luis Otero</h3>
    <ul style="margin-right: 2rem;">
    <ul>Consultant</ul>
    <ul>Bayamon, PR</ul>
    </ul>
    </div>

<br>
</div>


</div>
</body>
{% endblock content %} 