{% extends 'base.html' %} 

{% block title %}All Teams{% endblock title %}

{% block content %}
<body class="allteams">
    <center>
        <h1 style="font-family: 'Original Surfer', cursive";>All Teams</h1>
        <hr />
        <table class="table table-bordered table-hover">
            <tr style="font-family: 'Original Surfer', cursive;">
                <th>Id</th>
                <th>School Name</th>
                <th>Team Name</th>
                <th>City</th>
                <th>State</th>
            </tr>
            {% for result in baseballteams %} 
            <tr style="font-family: 'Original Surfer', cursive;">
                <td>{{result.id}}</td>
                <td>{{result.school_name}}</td>
                <td>{{result.team_name}}</td>
                <td>{{result.city}}</td>
                <td>{{result.state}}</td>
                <td>
                <td>
                    <a type="button" class="btn btn-secondary btn-sm" href="{% url 'update_team' result.id %}">Update</a>
                    <a type="button" class="btn btn-danger btn-sm" href="{% url 'delete_team' result.id %}">Delete</a>
                </td>
            </tr>    
            {% endfor %}
            
            
        </table>

    </center>
</body>
{% endblock content %}