{% extends 'base.html' %} 

{% block title %} Teams Data Chart View {% endblock title %} 

{% block scripts %} 
<script>
    $(document).ready(function(){
         var ctx = document.getElementById('teamsHR').getContext('2d');
 var myChart = new Chart(ctx, {
     type: 'bar',
     data: {
         labels: [{% for item in qs %}'{{item.team}}',{% endfor %}],
         datasets: [{
             label: 'Teams Home Runs',
             data: [{% for item in qs %}'{{item.hr}}',{% endfor %}],
             backgroundColor: [
                 'rgba(255, 99, 132, 0.2)',
                 'rgba(54, 162, 235, 0.2)',
                 'rgba(255, 206, 86, 0.2)',
                 'rgba(75, 192, 192, 0.2)',
                 'rgba(153, 102, 255, 0.2)',
                 'rgba(255, 159, 64, 0.2)',
                 'rgba(124, 78, 53, 0.2)',
                 'rgba(124, 184, 53, 0.2)',
                 'rgba(124, 184, 219, 0.2)',
                 'rgba(58, 21, 144, 0.2)',
                 'rgba(245, 104, 178, 0.2)',
                 'rgba(210, 214, 255, 0.2)',
                 'rgba(210, 214, 182, 0.2)',
                 'rgba(155, 103, 124, 0.2)',
                 'rgba(0, 0, 255, 0.2)',
                 'rgba(255, 0, 206, 0.2)',
                 'rgba(85, 85, 88, 0.2)'
             ],
             borderColor: [
                 'rgba(255, 99, 132, 1)',
                 'rgba(54, 162, 235, 1)',
                 'rgba(255, 206, 86, 1)',
                 'rgba(75, 192, 192, 1)',
                 'rgba(153, 102, 255, 1)',
                 'rgba(255, 159, 64, 1)',
                 'rgba(124, 78, 53, 1)',
                 'rgba(124, 184, 53, 1)',
                 'rgba(124, 184, 219, 1)',
                 'rgba(58, 21, 144, 1)',
                 'rgba(245, 104, 178, 1)',
                 'rgba(210, 214, 255, 1)',
                 'rgba(210, 214, 182, 1)',
                 'rgba(155, 103, 124, 1)',
                 'rgba(0, 0, 255, 1)',
                 'rgba(255, 0, 206, 1)',
                 'rgba(85, 85, 88, 1)'
 
             ],
             borderWidth: 1
         }]
     },
     options: {
        responsive: true,
         maintainAspectRatio: false,
         scales: {
             y: {
                 beginAtZero: true
             }
         }
     }
 });

 var ctx = document.getElementById('teamsERA').getContext('2d');
 var myChart = new Chart(ctx, {
     type: 'bar',
     data: {
         labels: [{% for item in qs %}'{{item.team}}',{% endfor %}],
         datasets: [{
             label: 'Teams ERA',
             data: [{% for item in qs %}'{{item.era}}',{% endfor %}],
             backgroundColor: [
                 'rgba(120, 185, 58, 0.2)',
                 'rgba(9, 73, 147, 0.2)',
                 'rgba(147, 120, 9, 0.2)',
                 'rgba(160, 33, 136, 0.2)',
                 'rgba(222, 56, 31, 0.2)',
                 'rgba(32, 135, 132, 0.2)',
                 'rgba(125, 200, 23, 0.2)',
                 'rgba(145, 57, 64, 0.2)',
                 'rgba(145, 57, 136, 0.2)',
                 'rgba(58, 21, 144, 0.2)',
                 'rgba(126, 118, 180, 0.2)',
                 'rgba(214, 170, 14, 0.2)',
                 'rgba(214, 82, 14, 0.2)',
                 'rgba(14, 214, 119, 0.2)',
                 'rgba(225, 56, 34, 0.2)',
                 'rgba(132, 130, 127, 0.2)',
                 'rgba(212, 148, 155, 0.2)'
             ],
             borderColor: [
                 'rgba(120, 185, 58,1)',
                 'rgba(9, 73, 147, 1)',
                 'rgba(147, 120, 9, 1)',
                 'rgba(160, 33, 136, 1)',
                 'rgba(222, 56, 31, 1)',
                 'rgba(32, 135, 132, 1)',
                 'rgba(125, 200, 23, 1)',
                 'rgba(145, 57, 64, 1)',
                 'rgba(145, 57, 136, 1)',
                 'rgba(58, 21, 144, 1)',
                 'rgba(126, 118, 180, 1)',
                 'rgba(214, 170, 14, 1)',
                 'rgba(214, 82, 14, 1)',
                 'rgba(14, 214, 119, 1)',
                 'rgba(194, 231, 213, 1)',
                 'rgba(132, 130, 127, 1)',
                 'rgba(212, 148, 155, 1)'
 
             ],
             borderWidth: 1
             
         }]
     },
     options: {
        responsive: true,
         maintainAspectRatio: false,
         scales: {
             y: {
                 beginAtZero: true
             }
         }
     }
 });

 var ctx = document.getElementById('teamsSO').getContext('2d');
 var myChart = new Chart(ctx, {
     type: 'bar',
     data: {
         labels: [{% for item in qs %}'{{item.team}}',{% endfor %}],
         datasets: [{
             label: 'Teams Strike Outs',
             data: [{% for item in qs %}'{{item.so}}',{% endfor %}],
             backgroundColor: [
                 'rgba(255, 99, 132, 0.2)',
                 'rgba(54, 162, 235, 0.2)',
                 'rgba(255, 206, 86, 0.2)',
                 'rgba(75, 192, 192, 0.2)',
                 'rgba(153, 102, 255, 0.2)',
                 'rgba(255, 159, 64, 0.2)',
                 'rgba(124, 78, 53, 0.2)',
                 'rgba(124, 184, 53, 0.2)',
                 'rgba(124, 184, 219, 0.2)',
                 'rgba(58, 21, 144, 0.2)',
                 'rgba(245, 104, 178, 0.2)',
                 'rgba(210, 214, 255, 0.2)',
                 'rgba(210, 214, 182, 0.2)',
                 'rgba(155, 103, 124, 0.2)',
                 'rgba(0, 0, 255, 0.2)',
                 'rgba(255, 0, 206, 0.2)',
                 'rgba(85, 85, 88, 0.2)'
             ],
             borderColor: [
                 'rgba(255, 99, 132, 1)',
                 'rgba(54, 162, 235, 1)',
                 'rgba(255, 206, 86, 1)',
                 'rgba(75, 192, 192, 1)',
                 'rgba(153, 102, 255, 1)',
                 'rgba(255, 159, 64, 1)',
                 'rgba(124, 78, 53, 1)',
                 'rgba(124, 184, 53, 1)',
                 'rgba(124, 184, 219, 1)',
                 'rgba(58, 21, 144, 1)',
                 'rgba(245, 104, 178, 1)',
                 'rgba(210, 214, 255, 1)',
                 'rgba(210, 214, 182, 1)',
                 'rgba(155, 103, 124, 1)',
                 'rgba(0, 0, 255, 1)',
                 'rgba(255, 0, 206, 1)',
                 'rgba(85, 85, 88, 1)'
 
             ],
             borderWidth: 1
         }]
     },
     options: {
        responsive: true,
         maintainAspectRatio: false,
         scales: {
             y: {
                 beginAtZero: true
             }
         }
     }
 });

 var ctx = document.getElementById('teamsR').getContext('2d');
 var myChart = new Chart(ctx, {
     type: 'bar',
     data: {
         labels: [{% for item in qs %}'{{item.team}}',{% endfor %}],
         datasets: [{
             label: 'Team Runs',
             data: [{% for item in qs %}'{{item.r}}',{% endfor %}],
             backgroundColor: [
             'rgba(120, 185, 58, 0.2)',
                 'rgba(9, 73, 147, 0.2)',
                 'rgba(147, 120, 9, 0.2)',
                 'rgba(160, 33, 136, 0.2)',
                 'rgba(222, 56, 31, 0.2)',
                 'rgba(32, 135, 132, 0.2)',
                 'rgba(125, 200, 23, 0.2)',
                 'rgba(145, 57, 64, 0.2)',
                 'rgba(145, 57, 136, 0.2)',
                 'rgba(58, 21, 144, 0.2)',
                 'rgba(126, 118, 180, 0.2)',
                 'rgba(214, 170, 14, 0.2)',
                 'rgba(214, 82, 14, 0.2)',
                 'rgba(14, 214, 119, 0.2)',
                 'rgba(225, 56, 34, 0.2)',
                 'rgba(132, 130, 127, 0.2)',
                 'rgba(212, 148, 155, 0.2)'
             ],
             borderColor: [
                 'rgba(120, 185, 58,1)',
                 'rgba(9, 73, 147, 1)',
                 'rgba(147, 120, 9, 1)',
                 'rgba(160, 33, 136, 1)',
                 'rgba(222, 56, 31, 1)',
                 'rgba(32, 135, 132, 1)',
                 'rgba(125, 200, 23, 1)',
                 'rgba(145, 57, 64, 1)',
                 'rgba(145, 57, 136, 1)',
                 'rgba(58, 21, 144, 1)',
                 'rgba(126, 118, 180, 1)',
                 'rgba(214, 170, 14, 1)',
                 'rgba(214, 82, 14, 1)',
                 'rgba(14, 214, 119, 1)',
                 'rgba(194, 231, 213, 1)',
                 'rgba(132, 130, 127, 1)',
                 'rgba(212, 148, 155, 1)'
             ],
             borderWidth: 1
         }]
     },
     options: {
        responsive: true,
         maintainAspectRatio: false,
         scales: {
             y: {
                 beginAtZero: true
             }
         }
     }
 });

 var ctx = document.getElementById('teamsW').getContext('2d');
 var myChart = new Chart(ctx, {
     type: 'bar',
     data: {
         labels: [{% for item in qs %}'{{item.team}}',{% endfor %}],
         datasets: [{
             label: 'Team Wins',
             data: [{% for item in qs %}'{{item.w}}',{% endfor %}],
             backgroundColor: [
                 'rgba(255, 99, 132, 0.2)',
                 'rgba(54, 162, 235, 0.2)',
                 'rgba(255, 206, 86, 0.2)',
                 'rgba(75, 192, 192, 0.2)',
                 'rgba(153, 102, 255, 0.2)',
                 'rgba(255, 159, 64, 0.2)',
                 'rgba(124, 78, 53, 0.2)',
                 'rgba(124, 184, 53, 0.2)',
                 'rgba(124, 184, 219, 0.2)',
                 'rgba(58, 21, 144, 0.2)',
                 'rgba(245, 104, 178, 0.2)',
                 'rgba(210, 214, 255, 0.2)',
                 'rgba(210, 214, 182, 0.2)',
                 'rgba(155, 103, 124, 0.2)',
                 'rgba(0, 0, 255, 0.2)',
                 'rgba(255, 0, 206, 0.2)',
                 'rgba(85, 85, 88, 0.2)'
             ],
             borderColor: [
                 'rgba(255, 99, 132, 1)',
                 'rgba(54, 162, 235, 1)',
                 'rgba(255, 206, 86, 1)',
                 'rgba(75, 192, 192, 1)',
                 'rgba(153, 102, 255, 1)',
                 'rgba(255, 159, 64, 1)',
                 'rgba(124, 78, 53, 1)',
                 'rgba(124, 184, 53, 1)',
                 'rgba(124, 184, 219, 1)',
                 'rgba(58, 21, 144, 1)',
                 'rgba(245, 104, 178, 1)',
                 'rgba(210, 214, 255, 1)',
                 'rgba(210, 214, 182, 1)',
                 'rgba(155, 103, 124, 1)',
                 'rgba(0, 0, 255, 1)',
                 'rgba(255, 0, 206, 1)',
                 'rgba(85, 85, 88, 1)'
 
             ],
             borderWidth: 1
         }]
     },
     options: {
        responsive: true,
         maintainAspectRatio: false,
         scales: {
             y: {
                 beginAtZero: true
             }
         }
     }
 });

 var ctx = document.getElementById('teamsSB').getContext('2d');
 var myChart = new Chart(ctx, {
     type: 'bar',
     data: {
         labels: [{% for item in qs %}'{{item.team}}',{% endfor %}],
         datasets: [{
             label: 'Team Stolen Bases',
             data: [{% for item in qs %}'{{item.sb}}',{% endfor %}],
             backgroundColor: [
             'rgba(120, 185, 58, 0.2)',
                 'rgba(9, 73, 147, 0.2)',
                 'rgba(147, 120, 9, 0.2)',
                 'rgba(160, 33, 136, 0.2)',
                 'rgba(222, 56, 31, 0.2)',
                 'rgba(32, 135, 132, 0.2)',
                 'rgba(125, 200, 23, 0.2)',
                 'rgba(145, 57, 64, 0.2)',
                 'rgba(145, 57, 136, 0.2)',
                 'rgba(58, 21, 144, 0.2)',
                 'rgba(126, 118, 180, 0.2)',
                 'rgba(214, 170, 14, 0.2)',
                 'rgba(214, 82, 14, 0.2)',
                 'rgba(14, 214, 119, 0.2)',
                 'rgba(225, 56, 34, 0.2)',
                 'rgba(132, 130, 127, 0.2)',
                 'rgba(212, 148, 155, 0.2)'
             ],
             borderColor: [
                 'rgba(120, 185, 58,1)',
                 'rgba(9, 73, 147, 1)',
                 'rgba(147, 120, 9, 1)',
                 'rgba(160, 33, 136, 1)',
                 'rgba(222, 56, 31, 1)',
                 'rgba(32, 135, 132, 1)',
                 'rgba(125, 200, 23, 1)',
                 'rgba(145, 57, 64, 1)',
                 'rgba(145, 57, 136, 1)',
                 'rgba(58, 21, 144, 1)',
                 'rgba(126, 118, 180, 1)',
                 'rgba(214, 170, 14, 1)',
                 'rgba(214, 82, 14, 1)',
                 'rgba(14, 214, 119, 1)',
                 'rgba(194, 231, 213, 1)',
                 'rgba(132, 130, 127, 1)',
                 'rgba(212, 148, 155, 1)'
 
             ],
             borderWidth: 1
         }]
     },
     options: {
         responsive: true,
         maintainAspectRatio: false,
         scales: {
             y: {
                 beginAtZero: true,
             }
         }
     }
 });
});
 
</script>     
{% endblock scripts %}     
 
     
{% block content %}
<body style="background-color: lightgray;">
<h1 style="font-family: 'Original Surfer', cursive;text-align: center;">Teams Data Chart View</h1>
<hr />
<div class="container" style="padding-top: 2rem;">
    <div class="row" style="margin-left: 9rem;" >

        <div style="width:50%; height: 40vh; padding-bottom: 2rem;">
            <canvas id="teamsHR"></canvas>
        </div>
        <div style="width:47%; height: 40vh;">
            <canvas id="teamsERA"></canvas>
        </div>
        <div style="width:47%; height: 40vh; padding-bottom: 2rem;">
            <canvas id="teamsSO"></canvas>
        </div>
        <div style="width:47%; height: 40vh;">
            <canvas id="teamsR"></canvas>
        </div>
        <div style="width:47%; height: 40vh;">
            <canvas id="teamsW"></canvas>
        </div>
        <div style="width:47%; height: 40vh;">
            <canvas id="teamsSB"></canvas>
        </div>
    </div>
</div>
</body>
{% endblock content %} 






















 

























<!--<script>
   $(document).ready(function(){
        var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [{% for item in qs %}'{{item.team}}',{% endfor %}],
        datasets: [{
            label: 'Teams Home Runs',
            data: [{% for item in qs %}'{{item.hr}}',{% endfor %}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(124, 78, 53, 0.2)',
                'rgba(124, 184, 53, 0.2)',
                'rgba(124, 184, 219, 0.2)',
                'rgba(58, 21, 144, 0.2)',
                'rgba(245, 104, 178, 0.2)',
                'rgba(210, 214, 255, 0.2)',
                'rgba(210, 214, 182, 0.2)',
                'rgba(155, 103, 124, 0.2)',
                'rgba(0, 0, 255, 0.2)',
                'rgba(255, 0, 206, 0.2)',
                'rgba(85, 85, 88, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(124, 78, 53, 1)',
                'rgba(124, 184, 53, 1)',
                'rgba(124, 184, 219, 1)',
                'rgba(58, 21, 144, 1)',
                'rgba(245, 104, 178, 1)',
                'rgba(210, 214, 255, 1)',
                'rgba(210, 214, 182, 1)',
                'rgba(155, 103, 124, 1)',
                'rgba(0, 0, 255, 1)',
                'rgba(255, 0, 206, 1)',
                'rgba(85, 85, 88, 1)'

            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});


    
    

    

</script> -->




<!--<div style="width:50%">
    <canvas id="myChart" width="300" height="200"></canvas>
    </div>
<div style="width:50%">
    <canvas id="canvas2" height="700" height="200"></canvas>
</div>-->

