{% extends 'base.html' %} 

{% block title %} Help Documentation {% endblock title %} 

{% block content %} 
<div class="help">
    <h1 style="font-family: 'Original Surfer', cursive;"><u>Help Documentation</u></h1>
    <p><u>Select to Open a File</u></p>
    <p><a href="/static/AllBaseball How to's/Register.pdf" style="font-family: 'Original Surfer', cursive;">Register</a></p>
    <p><a href="/static/AllBaseball How to's/Log in.pdf" style="font-family: 'Original Surfer', cursive;">Login</a></p>
    <p><a href="/static/AllBaseball How to's/Add a Team.pdf" style="font-family: 'Original Surfer', cursive;">Add a Team</a></p>
    <p><a href="/static/AllBaseball How to's/Add a Player.pdf" style="font-family: 'Original Surfer', cursive;">Add a Player</a></p>
    <p><a href="/static/AllBaseball How to's/Batting Data.pdf" style="font-family: 'Original Surfer', cursive;">Batting Data</a></p>
    <p><a href="/static/AllBaseball How to's/Pitcher's Data.pdf" style="font-family: 'Original Surfer', cursive;">Pitching Data</a></p>
    <p><a href="/static/AllBaseball How to's/Team's Data.pdf" style="font-family: 'Original Surfer', cursive;">Teams Data</a></p>
    <p><a href="/static/AllBaseball How to's/All Teams.pdf" style="font-family: 'Original Surfer', cursive;">All Teams</a></p>
    <p><a href="/static/AllBaseball How to's/Update a Player.pdf" style="font-family: 'Original Surfer', cursive;">Update a Players</a></p>
    <p><a href="/static/AllBaseball How to's/Delete a Player.pdf" style="font-family: 'Original Surfer', cursive;">Delete a Players</a></p>
    <p><a href="/static/AllBaseball How to's/Chart View.pdf" style="font-family: 'Original Surfer', cursive;">Chartview</a></p>
    <p><a href="/static/AllBaseball How to's/About AllBaseball.pdf" style="font-family: 'Original Surfer', cursive;">About AllBaseball</a></p>
    <p><a href="/static/AllBaseball How to's/Help.pdf" style="font-family: 'Original Surfer', cursive;">Help</a></p>
    <p><a href="/static/AllBaseball How to's/Home.pdf" style="font-family: 'Original Surfer', cursive;">Go Home</a></p>


</div>
{% endblock content %} 