{% extends 'base.html' %}
{% load static %}

{% block title %} 
AllBaseball
{% endblock title %} 

{% block content %}
<br />
<body class="home-body">
<div class="jumbotron" >
    <h1 class="display-4" style="font-family: 'Original Surfer', cursive";>AllBaseball</h1>
    <p class="lead" style="font-family: 'Architects Daughter', cursive";>Baseball Analytics App</p>
    <img src="/static/img/baseball-field-background.jpeg" class="rounded mx-auto d-block" alt="baseballfield">
    <p class="lead">
<div class="register-loginbtn">
    <a type="button" class="btn btn-info btn-lg" href="{% url 'register' %}" style="font-family: 'Original Surfer', cursive;">Register</a>
    <a type="button" class="btn btn-success btn-lg" href="{% url 'login' %}" style="font-family: 'Original Surfer', cursive;">Log In</a>
    </p>
</div> 
</div>
{% endblock content %}
</body> 
